@charset "UTF-8";
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("☺"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg"), url("../fonts/Gilroy-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("☺"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg"), url("../fonts/Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nekst';
  src: url("../fonts/Nekst.eot");
  src: local("☺"), url("../fonts/Nekst-Black.woff") format("woff"), url("../fonts/Nekst-Black.woff2") format("woff2"), url("../fonts/Nekst-Black.ttf") format("truetype"), url("../fonts/Nekst-Black.svg") format("svg"), url("../fonts/Nekst-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Gilroy', sans-serif;
  font-family: 'Nekst', sans-serif;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #575757;
  max-width: 1440px;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.order_btn {
  outline: none;
  border-radius: 40px;
  white-space: nowrap;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border: none;
  color: #FFFFFF;
  background-color: #FF9514;
  font-family: 'Gilroy';
  font-weight: 700;
  padding: 12px 24px;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.order_btn:hover {
  background-color: #111111;
}

.order_btn:active {
  background-color: #575757;
}

.order_btn:disabled {
  background-color: rgba(255, 149, 20, 0.4);
}

.container {
  width: 1344px;
  margin: 0 auto;
}

.header {
  height: 90px;
  font-family: 'Gilroy';
  font-weight: 700;
  position: fixed;
  z-index: 1;
  background-color: #FFFFFF;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1344px;
  margin: 0 auto;
  margin-top: 21px;
}

.header_btn {
  color: #FF9514;
  border: 1px solid #FF9514;
  background-color: #FFFFFF;
  margin-left: 24px;
}

.header_btn:hover {
  background-color: #FF9514;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 13px 25px;
}

.header_btn:active {
  background-color: #FFA83D;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  padding: 13px 25px;
}

.header_btn:disabled {
  color: rgba(255, 149, 20, 0.4);
  border: 1px solid rgba(255, 149, 20, 0.4);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
}

.logo_subtitle {
  height: 30px;
  width: 195px;
  margin-left: 17.5px;
  margin-top: 5px;
  padding-left: 17px;
  padding-top: 5px;
  font-weight: 400;
  letter-spacing: 0.92px;
  color: rgba(17, 17, 17, 0.5);
  border-left: 1px solid #c4c4c4;
  white-space: nowrap;
}

.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 256px;
  margin-left: 480px;
  margin-top: 12px;
}

.menu_list li:hover .sub-menu {
  display: block;
}

.menu_item {
  position: relative;
}

.menu_link {
  display: inline-block;
  color: #575757;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  padding: 6px 16px;
  border-radius: 8px;
}

.menu_link:hover {
  background-color: #F3F3F4;
}

.sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  font-weight: 400;
  border-radius: 15px;
  background-color: #FFFFFF;
  border: 1px solid #F3F3F4;
  overflow: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.sub-menu_item:hover {
  background-color: #F3F3F4;
}

.sub-menu_link {
  display: inline-block;
  width: 240px;
  color: #111111;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.slider {
  width: 1344px;
  height: 473px;
  top: 90px;
  position: relative;
}

.slide {
  width: 1344px;
  height: 473px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 32px;
  background-color: #000000;
  margin: 5px auto 0;
  font-family: "Nekst", sans-serif;
  color: #FFFFFF;
  background-image: url(../img/slider_img.png);
  background-repeat: no-repeat;
  background-position: right;
}

.slide_slide-content {
  position: absolute;
  margin-top: 70px;
  margin-left: 70px;
}

.slide_title {
  font-size: 54px;
  line-height: 48.6px;
  width: 585px;
}

.slide_subtitle {
  margin-top: 32px;
  font-size: 30px;
  line-height: 36px;
  width: 398px;
}

.slide_btn {
  margin-top: 24px;
}

.slick {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  font-size: 0;
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.3 ease;
  transition: 0.3 ease;
}

.slick-arrow:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.slick-arrow:active {
  background-color: rgba(255, 255, 255, 0.6);
}

.slick-prev {
  margin-top: 399px;
  margin-left: 1211px;
  width: 24px;
  height: 24px;
  background-image: url(../img/backward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 34%;
}

.slick-next {
  width: 48px;
  height: 48px;
  background-image: url(../img/forward-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 34%;
  margin-top: -95px;
  margin-left: 1252px;
}

.slick-next :disabled {
  background-image: url(../img/btn_disabled.svg);
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 70px;
  right: 339px;
  font-size: 0;
  width: 134px;
}

.slick-dots .slick-active button {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.slick-dots button {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFFFFF;
  opacity: 0.4;
  outline: none;
  border: none;
  padding: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.calc {
  margin-top: 150px;
  /* Firefox */
}

.calc_title {
  display: inline-block;
  font-family: "Nekst", sans-serif;
  font-size: 54px;
  line-height: 90%;
  color: #111111;
  width: 753px;
  margin-bottom: 30px;
}

.calc_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 51px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calc_subtitle {
  display: inline-block;
  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.calc input::-webkit-outer-spin-button,
.calc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc input[type=number] {
  -moz-appearance: textfield;
}

.calc .range_container {
  position: relative;
  width: 379px;
  height: 22px;
  z-index: 1;
  margin-top: -10px;
  margin-left: 24px;
}

.calc input[type='range'] {
  -webkit-appearance: none;
  width: 379px;
  outline: none;
  height: 20px;
  background-color: transparent;
  top: 0;
  left: 0;
}

.calc input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #FF9514;
  margin-top: -10px;
}

.calc input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, color-stop(60%, #ff9514), color-stop(60%, #e1e1e1));
  background: linear-gradient(90deg, #ff9514 60%, #e1e1e1 60%);
}

.calc input[type="range"]::-moz-range-progress {
  background-color: #FF9514;
  height: 2px;
}

.calc input[type="range"]::-moz-range-track {
  background-color: #E1E1E1;
  height: 2px;
}

.calc input[type=range]::-moz-range-thumb {
  background-color: #FF9514;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.calc input[type=range]::-ms-track {
  width: 379px;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.calc input[type=range]::-ms-fill-lower {
  background: #FF9514;
}

.calc input[type=range]::-ms-fill-upper {
  background: #E1E1E1;
}

.calc input[type=range]::-ms-thumb {
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #FF9514;
  cursor: pointer;
}

.calc .field-num {
  background-color: #F3F3F4;
  width: 427px;
  height: 68px;
  border-radius: 16px;
  border: none;
  outline: none;
  margin-top: 24px;
  font-family: "Nekst", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
  padding-left: 24px;
  padding-top: 16px;
}

.calc .car-cost_container {
  position: relative;
}

.calc .car-cost_container::after {
  position: absolute;
  content: " ";
  width: 20px;
  height: 36px;
  background-image: url(../img/rub.svg);
  background-repeat: no-repeat;
  top: 50px;
  right: 24px;
}

.calc .lease-term_container {
  position: relative;
}

.calc .lease-term_container::after {
  position: absolute;
  content: "мес.";
  font-family: "Nekst", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: #575757;
  top: 40px;
  right: 24px;
  width: 63px;
  height: 36px;
}

.calc .init-fee_container {
  position: relative;
}

.calc .init-fee_container::before {
  position: absolute;
  content: " ";
  width: 20px;
  height: 36px;
  background-image: url(../img/rub.svg);
  background-repeat: no-repeat;
  top: 25px;
  right: 240px;
  z-index: 1;
}

.calc .init-fee_container::after {
  position: absolute;
  content: "%";
  width: 20px;
  height: 24px;
  top: 21px;
  right: 17px;
  font-family: "Nekst", sans-serif;
  color: #575757;
  font-size: 20px;
  line-height: 24px;
}

.calc .init-fee_percent {
  width: 69px;
  height: 54px;
  border-radius: 16px;
  background-color: #EBEBEC;
  position: absolute;
  top: 7px;
  right: 7px;
  padding: 15px 17px;
  outline: none;
  border: none;
  font-family: "Nekst", sans-serif;
  color: #575757;
  font-size: 20px;
  line-height: 24px;
}
/*# sourceMappingURL=style.css.map */